.advantage {
    min-height: 472px;
    padding: 69px 0 81px 0;
    background-color: #f6f6f6;
    &__header {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #0d0d0d;
    }
    &__blockheader {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #0d0d0d;
    }
    &__icons {
        width: 922px;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 243px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
    }
    &__texts {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0d0d0d;
            margin-top: 29px;
            a {
                color: #f00;
                font-weight: 500;
            }
    }
    
}